<div class="create_button">
<%= link_to "New List +", new_list_path %>
</div>
<section>
  <% current_user.lists.each do |list| %>
      <h2><%= link_to list.title, list_path(list) %></h2>
      <time>Updated <%= list.updated_at %></time>
  <% end %>
</section>
