.logo img {
	display: block;
	margin: auto;
	padding: 15px 0px;
	width: 300px;
	height: 300px;
}

.container {
	background-color: #ffffff;
	width: 600px;
	height: inherit;
	margin: auto;
	border: 1px solid #ffffff;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.signing_buttons,
nav,
a {
	font-size: 20px;
	padding: 1px;
	font-family: 'Roboto', sans-serif;
	display: inline-table;
	text-decoration: none;
}
.add_item {
	display: block;
	align-items: center;
}

.create_button,
a {
	font-size: 25px;
	padding: 5px 15px;
	margin: auto;
	border-radius: 10px;
	color: #ffffff;
	background-color: #610940;
	justify-content: center;
	text-decoration: none;
}

.home_path {
	display: inline-block;
	align-items: center;
}
.edit_buttons,
nav,
a {
	padding: 2px, 5px;
	margin: 2px, 2px;
}
.bullet_item,
.item_edit,
.item_delete,
.list_edit,
.list_delete,
.new_list {
	background-color: inherit;
	padding: inherit;
	margin: 10px 5px;
}
.item_style {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	background-color: #dccabc;
}

body {
	background-color: #f4e2d3;
	font-family: 'Roboto', sans-serif;
}
h2 {
	color: #610940;
	font-family: 'Roboto Slab', serif;
	display: block;
	align-items: center;
	font-size: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
h3 {
	color: #00729c;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p {
	color: #ic2e39;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}
time {
	font-family: 'Roboto', sans-serif;
	font-size: 2px;
	display: flex;
	justify-content: center;
}

label {
	margin: 8px 0px;
	padding: 10px 3px;
}

input,
textarea {
	width: 400px;
	padding: 15px 3px;
	margin: 8px 0px;
	border: 1px solid #610940;
	font: inherit;
	display: block;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

section {
	padding: 2em 0;
	display: block;
	justify-content: center;
}
