.logo svg {
	display: block;
	margin: auto;
	padding: 15px 0px;
	width: 300px;
	height: 300px;
}
.logo header {
	font-size: 60px;
	display: block;
	margin: auto;
	width: 500px;
	font-family: monospace, cursive;
}

.list {
	border: 1px solid #00000;
	padding: 10px;
	width: 400px;
	height: auto;
}
.item {
	border: 1px solid #00000;
	padding: 10px;
	width: 400px;
	height: auto;
}
.container {
	width: 400px;
	height: 800px;
	margin: auto;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
body {
	background-color: #f9f2ea;
	box-sizing: border-box;
	font-family: monospace, cursive;
}
h2 {
	color: #6360af;
	font-family: monospace, cursive;
	display: block;
	align-items: center;
}
h3 {
	color: #5ce8cc;
	font-family: monospace, cursive;
	display: block;
	align-items: center;
}

p {
	color: #6360af;
	font-size: 15px;
	font-family: monospace, cursive;
	display: block;
	justify-content: center;
}
time {
	font-size: 2px;
}
label,
input,
textarea {
	width: 400px;
	margin: 1px;
	border: 2px solid #5ce8cc;
	box-sizing: border-box;
	font: inherit;
	display: block;
	justify-content: center;
}

section {
	border-bottom: 2px solid black;
	padding: 3em 0;
	display: block;
	justify-content: center;
}
nav a {
	background-color: #ad6299;
	font-size: 20px;
	padding: 1px;
	/*margin: 1px;*/
	display: inline-table;
}
